.navigasi{
   background-color: aqua;
}

.main{
   background-color:azure;
}

.main span{
   background-color:greenyellow;
}
/* div{
   background-color: green;
}

a{
   background-color: red; 
   width: 100px;
   height: 100px;
 
} */